.container{
    width: 1200px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    border-width: 3px;
    border-color: black;
 border-style: solid;
 margin-bottom: 30px;
}



.buttonCont{
    width: 1200px;
    display: flex;
    justify-content: center;
   
}
.buttonFloat{
 width: 300px;
 height: 30px;
background-color:#42adf5;
color: white;
border-radius: 4px;
border-width: 0px;
}
.widepic
{
    width: 1200px;
    height: 100%;
    margin: auto;
}

.smallpic
{
    width: 600px;
    height: 100%;
    margin: auto;
}

.title{
    text-align: center;
    font-family: 'Bungee' , sans-serif;
}
.text{
    text-align: center;
    line-height: 2 ;
}